.header{
    background-color: blue;
    color: white;

}
a{
    color: white;
    font-size: x-large;
}
body{
    background-color: lightblue;

}


h2{
    background-color: darkblue;
    color: white;
    font-size: x-large;

}
h3{
    background-color: darkblue;
    color: white;
    font-size: x-large;
}
.footer{
    background-color: green;
    color: white;
}   
img{
    background: none;
}